.experienceButton {
    background-color: rgb(100, 167, 255);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(217, 217, 255);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    min-height: 3rem;
    min-width: 5rem;
}

.experienceButton:hover {
    background-color: rgb(116, 177, 255);
    text-decoration: none;
    color: white;
}

.feeling {
    width: 15%;
}

.experienceMain {
    margin: 5rem;
    padding: 2rem;
    border-radius: 16px;
    background-color: #91a5ff15;
    box-shadow: 5px 5px 10px rgba(100, 167, 255, 0.192);
}

.experienceHeader {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    margin-bottom: 2rem;
}

.experiencingAndNotesWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.experiencing {
    justify-self: end;
    padding: 1rem;
    margin-right: 2rem;
    min-width: 70%;
    min-height: 100%;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    background-color: rgba(145, 165, 255, 0.3);
    box-shadow: 5px 5px 10px rgba(100, 167, 255, 0.192);
}

.notes {
    justify-self: start;
    padding: 1rem;
    margin-left: 2rem;
    min-width: 70%;
    min-height: 100%;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    background-color: rgba(145, 165, 255, 0.3);
    box-shadow: 5px 5px 10px rgba(100, 167, 255, 0.192);
}

.experienceSubmitWrapper {
    margin-bottom: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

.symptoms {
    display: flex;
    flex-flow: column;
    max-height: 12rem;
    background-color: #f1f6f6;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: 2px 2px 10px darkgrey;
    overflow: auto;
}
ul {
    list-style-type: none;
}

@media only screen and (max-width: 1150px) {
    .experienceButton {
        font-weight: bold;
        font-size: 0.7rem;
        padding: 0.4rem;
        margin: 1rem;
    }
}
@media only screen and (max-width: 950px) {
    .experienceHeader {
        grid-template-columns: auto auto;
    }
    .experiencingAndNotesWrapper {
        display: grid;
        grid-template-columns: 100%;
    }
    .experiencing {
        justify-self: center;
        padding: 1.5rem;
        padding-bottom: 2rem;
        margin: 1rem;
        margin-bottom: 3rem;
        min-width: 100%;
        min-height: auto;
    }
    .notes {
        justify-self: center;
        padding: 1.5rem;
        padding-bottom: 2rem;
        margin: 1rem;
        min-width: 100%;
        min-height: auto;
    }
    .experienceHeader{
        justify-content: space-between;
    }
    .experienceTitle{
        font-size: 1.2rem;
    }
    .experienceMain{
        margin: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .experienceHeader {
        grid-template-columns: auto;
    }
    .experienceMain{
        margin: 1rem;
    }
}
