.header{
    display: flex;
    justify-content: center;
}
.headerButton{
    background-color: rgb(100, 167, 255);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(217, 217, 255);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    min-width: 12rem;
}

.headerButton:hover {
    background-color: rgb(116, 177, 255);
    text-decoration: none;
    color: white;
}