body {
    font-family: 'Dosis', sans-serif;
    color: #141fa0;
}

.gif {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgb(217, 217, 255);
  }
  
  .gif:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 10px rgb(217, 217, 255);
  }

  .input-name {
      border: none;
  }

